.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.navbar.scrolled {
    height: 80px;
    background-color: #28a74515;
    backdrop-filter: blur(15px);
}

.navbar-nav {
    flex-direction: row;
    gap: 50px;
}

.nav-link {
    position: relative;
    color: var(--success);
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.7;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--success);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.nav-link:hover {
    color: var(--success);
    opacity: 1;
}

.nav-link:hover::before {
    width: 50%;
}

.nav-item.active .nav-link {
    font-weight: 600;
    opacity: 1;
}

.nav-item.active .nav-link::before {
    width: 50%;
}
